<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置全局性延迟加载-->
    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <!--配置别名-->
    <typeAliases>
        <package name="cn.kgc.tangcco.pojo"/>
    </typeAliases>
    <!--添加分页依赖-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>
</configuration>   